# Global things we never want in build context
.git
.gitignore
node_modules
**/node_modules
nginx/letsencrypt/
nginx/letsencrypt/**
# Python / Django things
__pycache__
*.pyc
venv/
venv_geo
.env

# Builds / dist / caches
dist
build
*.egg-info
coverage
stations_export.ndjson
# Big binary artifacts
*.tif
*.nc
*.zip

# MinIO / DB dump dirs
minio
pgdata
geomgr_pgdata

# Static runtime data (but not source data inside e-safari-ui)
# If you have runtime folders named 'data' at project root you can ignore them:
/data
/data/**

# But explicitly allow the UI source data folder
!e-safari-ui/src/data/
!e-safari-ui/src/data/**
