venv_geo
.env
__pycache__/
*static
*media
*staticfiles
*geomgr_pgdata
data
e-safari-ui/build/
nginx/webroot/
nginx/letsencrypt/
!e-safari-ui/src/data/
!e-safari-ui/src/data/**
.DS_Store
*node_modules
stations_export.ndjson
celerybeat-schedule